@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="stationButtons"></div>

<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/zenitelHub").build();

    connection.start()
        .then(() => {
            console.log("zenitelHub bağlanıldı.");
        })
        .catch(err => console.error("SignalR bağlantı hatası:", err));

    connection.on("GetFullIPStationOKList", (stationList) => {
        const container = document.getElementById("stationButtons");
        container.innerHTML = ""; // Eski butonları temizle

        stationList.forEach((station) => {
            const button = document.createElement("button");
            button.innerText = station.displayText; // Görünen metin
            button.className = "station-button"; // CSS için sınıf ekle
            button.value = station.directoryNumber.digitString;
            button.addEventListener("click", () => {

                connection.invoke("Call", station.directoryNumber.digitString)
                    .catch(err => console.error("Call hatası:", err));
            });

            container.appendChild(button);
        });
    });



    connection.on("HandleOnCallStatus", (callStatus) => {
        const digitA = callStatus.stationA.digitString;
        const digitB = callStatus.stationB.digitString;

        // Tüm butonları al
        const buttons = document.querySelectorAll(".station-button");

        // StationA ve StationB'nin eşleşen butonlarına yanıp sönme ekle
        buttons.forEach(button => {
            if (button.value === digitA || button.value === digitB) {
                button.classList.add("blinking");
            }
        });
    });


    connection.on("StopBlink", (callStatus) => {
        var digitA = callStatus;

        // Tüm butonları al
        const buttons = document.querySelectorAll(".station-button");

        // StationA ve StationB'nin eşleşen butonlarına yanıp sönme ekle
        buttons.forEach(button => {

            if (button.value === digitA) {
                button.classList.remove("blinking");
            }
        });
    });

    /*
stationList.forEach((station) => {
    //station.directoryNumber.digitString
    //station.physicalNumber
    //station.displayText
    console.log(station.displayText);
});*/
</script>